name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ghidra: "12.0"
            java: "21"
          - ghidra: "11.4.3"
            java: "21"
          - ghidra: "11.4.2"
            java: "21"
          - ghidra: "11.4.1"
            java: "21"
          - ghidra: "11.4"
            java: "21"
          - ghidra: "11.3.2"
            java: "21"
          - ghidra: "11.3.1"
            java: "21"
          - ghidra: "11.3"
            java: "21"
          - ghidra: "11.2.1"
            java: "21"
          - ghidra: "11.2"
            java: "21"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Install Ghidra ${{ matrix.ghidra }}
        uses: antoniovazquezblanco/setup-ghidra@v2.0.4
        with:
          auth_token: ${{ secrets.GITHUB_TOKEN }}
          version: ${{ matrix.ghidra }}

      - name: Build
        run: ./gradlew buildExtension

      - name: Check SLA timestamps
        run: ls -l $GHIDRA_INSTALL_DIR/Ghidra/Processors/x86/data/languages/*

      - name: Precompile slaspec
        run: $GHIDRA_INSTALL_DIR/support/sleigh $GHIDRA_INSTALL_DIR/Ghidra/Processors/x86/data/languages/x86-64.slaspec

      - name: Run tests
        run: xvfb-run ./gradlew test --info
